/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.game {
  text-align: center;
}

.boards {
  display: flex;
}

.board {
  margin: 20px;
}

.row {
  display: flex;
}

.cell {
  width: 30px; 
  height: 30px;
  border: 1px solid #ddd;
  background-color: #f0f0f0;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color 0.3s ease; 
}

.cell.ship {
  background-color: #3498db; 
}

.cell.sunk {
  background-color: #e74c3c; 
}

.cell.miss {
  background-color: #332e31;
}

.cell.hit {
  background-color: #2ecc71;
}

/* Nuevos estilos para las celdas con números */
.cell.number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff; /* Color del texto */
  background-color: #34495e; /* Nuevo color de fondo */
  font-size: 12px; /* Nuevo tamaño de fuente */
}

/* Ajustes para la celda de la esquina superior izquierda */
.cell.corner {
  border-top: none;
  border-left: none;
  background-color: #2c3e50; /* Nuevo color de fondo */
}